<header>
    <nav class="navbar is-white is-fixed-top has-shadow is-spaced is-montserrat" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {{#if @site.logo}}
            <div class="navbar-item logo">
                <a href="{{@site.url}}">
                    <img src="{{@site.logo}}" alt="{{@site.title}}" title="{{@site.title}}" width="auto" height="28">
                </a>
            </div>
            {{else}}
                <div class="navbar-item text-logo">
                    <a class="align-vcentered" href="{{@site.url}}" alt="{{@site.title}}" title="{{@site.title}}">
                        {{#if @site.icon}}
                            <img src="{{@site.icon}}">
                        {{/if}}
                        {{@site.title}}<span>.</span>
                    </a>
                </div>
            {{/if}}

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarPrimary">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarPrimary" class="navbar-menu">
            <div class="navbar-start">
                {{#if @site.navigation}}
                {{navigation}}                    
                {{/if}}
            </div>

            <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a href="https://fizzy.cc/fizzy-theme/" class="button is-primary">
                    <strong>Fizzy Theme</strong>
                </a>
                </div>
            </div>
            </div>
        </div>
    </nav>

    {{!-- header main --}}
    {{!-- <div class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{{@site.title}}</h1>
                <h2 class="subtitle">{{@site.description}}</h2>
            </div> 
        </div>
    </div> --}}
</header>