{{!-- post_item: for index & home cards --}}
<article class="box is-paddingless is-clipped has-shadow-mo">
    <div class="columns post-card">
        {{!-- featured_image --}}
        {{#if feature_image}}
            <a class="column is-5 is-hidden-mobile is-vpaddingless" href="{{url}}" alt="{{title}}" title="{{title}}">
                <div class="featured-image" style="background-image:url({{img_url feature_image size="s"}});"></div>    
            </a>
            <a class="column is-5 is-hidden-tablet is-paddingless-top" href="{{url}}" alt="{{title}}" title="{{title}}">
                <div class="featured-image" style="background-image:url({{img_url feature_image size="s"}});"></div>    
            </a>
        
        {{!-- post info --}}
        <div class="column is-7">
        {{else}}
        <div class="column is-12">
        {{/if}}
            <div class="post-info">
                {{#if featured}}
                <span class="featured-label is-montserrat"><i class="fas fa-star"></i> Featured</span>
                {{/if}}

                {{!-- meta --}}
                <div class="level is-mobile is-montserrat is-uppercase is-margin-bottom-1">
                    <div class="level-left">
                        {{#primary_tag}}
                        <div class="level-item">
                            {{!-- display one tag --}}
                            <div class="buttons are-small">
                                <a href="{{url}}" class="button is-light has-text-weight-semibold">{{name}}</a>
                            </div>
                        </div>
                        {{/primary_tag}}
                        <div class="level-item is-size-7 ">
                            {{date}}
                        </div>
                    </div>
                </div>

                {{!-- heading & content --}}
                <h1 class="title is-3 is-size-5-mobile" style="margin-top:0;">
                    <a href="{{url}}" class="is-montserrat has-text-black">{{title}}</a>
                </h1>
                <p class="is-hidden-mobile">
                    {{#if meta_description}}
                        {{meta_description}}
                    {{else}}
                        {{excerpt words="40"}}
                    {{/if}}
                </p>

                {{!-- author--}}
                <div class="media is-hidden-mobile">
                    <div class="media-left">
                        <div class="columns is-vcentered is-1" style="margin-top:1rem;">
                            
                            {{#primary_author}}
                            <div class="column is-narrow">
                                <a href="{{url}}">
                                    <figure class="image is-32x32">
                                    <img class="round-border-6" src="
                                        {{#if profile_image}}
                                            {{profile_image}}
                                        {{else}}
                                            {{asset 'images/user-avatar-default.png'}}
                                        {{/if}}
                                    " alt="{{name}}" title="{{name}}">
                                    </figure>
                                </a>
                            </div>

                            <div class="column is-narrow has-text-weight-bold is-hpaddingless">
                                <a href="{{url}}" class="has-text-grey-dark">{{name}}</a>
                            </div>
                            {{/primary_author}}
                            {{#has author="count:>1"}}
                            <div class="column">
                                and others
                            </div>
                            {{/has}}
                        </div> 
                    </div>
                </div>
            </div>  
        </div>
    </div>
</article>