/* Customize classes */

/* padding */
.is-paddingless-top{
    padding-top:0 !important;
}
.is-paddingless-bottom{
    padding-bottom:0 !important;
}
.is-hpaddingless {padding-left:0 !important; padding-right:0 !important;}
.is-vpaddingless {
    padding-top:0 !important; padding-bottom:0 !important;
}
.is-vpadding-1 {
    padding-top:1rem !important; padding-bottom:1rem !important;
}
.is-vpadding-15 {
    padding-top:1.5rem !important; padding-bottom:1.5rem !important;
}
.is-vpadding-2 {
    padding-top:2rem !important; padding-bottom:2rem !important;
}
@media screen and (max-width: 768px){
    .is-mobile-paddingless{
        padding:0px !important;
    }
    .is-mobile-vpaddingless {
        padding-top:0px !important;
        padding-bottom:0px !important;
    }
}


/* margin */
.is-vmargin-05 {
    margin-top:0.5rem !important; margin-bottom:0.5rem !important;
}
.is-vmargin-1 {
    margin-top:1rem !important; margin-bottom:1rem !important;
}
.only-margin-top-1{
    margin: 1rem 0 0 0 !important;
}
@media screen and (max-width: 768px){
    .is-margin-bottom-1{
        margin-bottom:0.5rem !important;
    }
}
@media screen and (min-width: 769px){
    .is-margin-bottom-1{
        margin-bottom:1rem !important;
    }
}
.is-margin-auto{
    margin:auto;
}
.is-marginless-bottom {
    margin-bottom: 0!important;
}

/* shadow */
.has-shadow-mo {
    box-shadow: 0 20px 40px rgba(12,12,94,.1) !important;
}

/* border */
.round-border-6 {
    border-radius: 6px;
}

/* layout */
.has-2-ends {
	display: flex;
	justify-content: space-between; /* (horizontally) aligned to two ends */
	align-items: flex-start; /* (vertically) aligned at the top */
	flex-wrap: wrap; /* wrap if no space */
}
.align-vcentered {
    display:flex;
    align-items: center !important;
}
.has-2-ends .end {
    display: flex;
}