/* ====================== import ====================== */
@import "class.css"; 
@import "divider.min.css";

/* ====================== over-write bulma default ====================== */
/* fix "has-spaced-navbar-fixed-top" cut off the top on modile devices 2019.04.09 */
@media screen and (max-width: 1087px){
    body.has-spaced-navbar-fixed-top, html.has-spaced-navbar-fixed-top {
        padding-top: 3.25rem;
    }
}

/* for code block background */
pre{background-color:#282a36!important;}

/* navbar */
.navbar-item {
	margin-right: 0.25rem;
}
.nav-current {
	background-color: #eee;
}

/* ====================== fonts ====================== */
h1,h2,h3,h4,h5,h6{
	font-family:'Montserrat', sans-serif !important;
}
.is-montserrat {
	font-family:'Montserrat', sans-serif !important;
}
.is-georgia {
	font-family:Georgia, serif !important;
}

/* ====================== body ====================== 2019.04.11 */
html,body{
	overflow-x: hidden;
}

/* ====================== header ====================== 2019.04.12 */

.navbar-brand .text-logo {
	font-weight:700;
	font-size:1.5rem;
}
.navbar-brand .navbar-item a {
	color:#000;
}
.navbar-brand .navbar-item span {
	color:#fb3c3b;
}

/* ====================== component: carousel ====================== 2019.04.09 */

h3{ margin-bottom: 20px; }
.carousel .slick-item{ display: none; margin-right: 5px; outline: 0; }
.carousel article{ height: 300px; position: relative; overflow: hidden; }
.carousel article a{ display: block; height: 100%; position: relative; z-index: 2; }
.carousel article a span.cover{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.carousel article a span.overlay{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40%;
	z-index: 2;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.68) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.68))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.68) 100%); /* W3C */
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.carousel article a div.meta{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10px;
	padding: 20px 20px 0;
	position: absolute;
	left: 0;
	bottom: 20px;
	color: #fff;
	z-index: 101;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.carousel article a div.meta time{ position: absolute; right: 20px; bottom: 0; text-align: right; }
.carousel article a div.meta .title{ margin-bottom: 15px; font-size: 20px; color: #fff; line-height: 1.2; text-shadow: 0px 1px 3px rgba(0,0,0,.75); }
.carousel article a div.meta div.tags{ float: left; }
.carousel article a div.meta time{ float: right; color: #fff;  }

/* @end */

/* ====================== index ====================== 2019.04.09 */
/* index: post-card 2019.04.09 */
@media screen and (min-width: 769px){
	.post-card {
		min-height:320px;
	}
}

/* index: featured-image 2019.04.10 */
.featured-image {
	height:100%;
	/* border-radius: 8px 0 0 8px; */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 768px){
	.featured-image {
	min-height:180px;
	/* border-radius: 6px 6px 0 0; */
	}
}

/* index: post-meta 2019.04.09 updated: 2019.04.11 */
.post-info {
	position: relative;
}
@media screen and (max-width: 768px){
	.post-info {
		padding:18px;
	}
}
@media screen and (min-width: 769px) and (max-width: 1215px){
	.post-info {
		padding:24px;
	}
}
@media screen and (min-width: 1216px){
	.post-info {
		padding:32px;
	}
}

/* index: featured-label 2019.04.10 */
.post-info .featured-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f7b413;
    color: #000;
    font-size: .875rem;
    height: 28px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 0 10px;
    border-radius: 4px;
    text-transform: uppercase;
}
@media screen and (max-width: 768px){
	.post-info .featured-label {
		top: -53px;
		right: 5px;
		height: 24px;
    	line-height: 24px;
	}
}

/* ====================== post ====================== 2019.04.13 */

/* remove box border-radius in mobile device 2019.04.11 */
@media screen and (max-width: 768px){
	.single-article .box {border-radius: 0;} 
}
.single-article .featured-image {
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 6px 6px 0 0;
}
@media screen and (max-width: 768px){
	.single-article .featured-image {
		height: 200px;
		border-radius:0;
	}
}
.single-article .post-wrap {
    max-width: 760px;
    padding: 48px 15px;
    font-size: 1.25rem;
	line-height: 2;
	margin: auto!important;
}

.single-article .post-wrap .post-content h1,h2,h3{
	font-family:'Montserrat', sans-serif !important;
}

/* post fonts */
.post-wrap h1 {font-size:calc(1.4vw + 1.1rem)!important}
.post-wrap h2 {font-size:calc(1vw + 1rem)!important}
.post-wrap h3 {font-size:calc(0.8vw + 0.85rem)!important}
.post-wrap h4 {font-size:calc(0.7vw + 0.8rem)!important}
.post-wrap h5 {font-size:calc(0.65vw + 0.7rem)!important}
.post-wrap h6 {font-size:calc(0.55vw + 0.6rem)!important}
.post-wrap h2,.post-wrap h3, .post-wrap h4, .post-wrap h5, .post-wrap h6 {font-weight: 600 !important;}
.post-wrap h3, .post-wrap h4, .post-wrap h5, .post-wrap h6 {margin-bottom: 0.4em!important;}

/* post-content 2019.04.13 */
.post-wrap .post-content a {
	color:#000;
	word-break: break-word;
	box-shadow: #fb3c3b 0 -1px 0 inset;
	transition: all .25s;
}
.post-wrap .post-content a:hover {
	color:#fb3c3b;
}
/* paragraph */
.post-wrap .post-content p {
	line-height: 1.5em;
}
/* list */
.post-wrap .post-content ul,.post-content ol{
	margin-left: 1.5em;
}
.post-wrap .post-content li {
	line-height: 1.4em;
	margin: 0.5em 0;
}

/* Nested list */
.post-wrap .post-content ul ul {
	margin-top: 0.25em;
}
.post-wrap .post-content ul ul li {
	line-height: 1.4em;
}

/* code block */
.post-wrap .post-content pre code {
	display: block;
	line-height: 1.5em;
    font-size: calc(0.5vw + 0.5rem);
	font-weight: 400;
	padding-bottom: 1.2em;
}

/* image layout (temporary solution, may have some bugs 2019.04.14) */
.single-article .post-content figure{
	margin-left: 0rem; /* overwrite deault 2rem */
	margin-right: 0rem; /* overwrite deault 2rem */
}
.single-article .post-content .kg-embed-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}
/* wide image */
.single-article .post-content .kg-width-wide {
	max-width: 100vw;
	margin: 0 calc(-50vw + 50%);
}
.single-article .post-content .kg-width-wide img {
	max-width: 100vw;
	width: auto;
	height: auto;
}
/* full width image */
.single-article .post-content .kg-width-full{
    max-width: 100vw;
	width: 100vw;
	margin: 0 calc(-50vw + 50%);
}
.single-article .post-content .kg-width-full img{
	max-height: 70vh;
	object-fit: cover;
	width:100%;
}
/* gallery */
.kg-gallery-card{width:53rem;margin:1.5rem -4.5rem!important;}
@media screen and (max-width:768px){
	.kg-gallery-card{width:100%;margin:0!important;}
}
.single-article .post-content .kg-gallery-container {
	max-width:100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.single-article .post-content .kg-gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}
.single-article .post-content .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%}
.single-article .post-content .kg-gallery-row:not(:first-of-type) {
    margin: .25em 0 0 0;
}
.single-article .post-content .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 .25em;
}

.about-author .meta-info {
    padding: 0;
    margin: 0 0 8px 0;
	list-style: none;
}
.about-author .meta-info li {
    display: inline-block;
    margin: 0 4px 8px 4px;
    line-height: 1.5rem;
    font-size: 1rem;
}
.about-author .bio {
	height:3em;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 8px;
}

/* Blockquotes */
.single-article .post-wrap .post-content blockquote {
	font-style: italic;
	line-height:1.5em;
	border-radius: 0 6px 6px 0;
	background-color: #f6f6f6;
	border-left: 5px solid;
	border-color:#fb3b3b;
	margin-left: -1.5em;
	padding: .5em 0 .5em calc(1.5em - 5px);
}
.single-article .post-wrap .post-content blockquote:hover {
	background-image: linear-gradient(to bottom right, #fef8f8, #e4f4fe);
}
@media screen and (max-width: 880px){
	.single-article .post-wrap .post-content blockquote {
		margin-left: 0;
		padding: .5em .75em;
	}
}

/* ====================== post: aside ====================== 2019.04.11 */
@media screen and (min-width: 769px){
	.aside {
		padding-bottom: 3rem;
	}
}
.aside .post-card{
	height:100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: #fff center center;
	background-size: cover;
	border-radius: 6px;
	box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
	transition: all 0.5s ease;
}
.aside .post-card:hover {
	box-shadow: rgba(39,44,49,0.07) 8px 28px 50px, rgba(39, 44, 49, 0.04) 1px 6px 12px;
	transition: all 0.4s ease;
	transform: translate3D(0, -1px, 0) scale(1.02);
}
.aside .featured-image {
	min-height: 190px;
	/* border-radius: 6px 6px 0 0; */
}
.aside .post-info {
	padding:15px;
}
@media screen and (min-width: 768px) and (max-width: 1087px){
	.aside .post-info {
		padding:20px;
	}
}

@media screen and (max-width: 768px){
	.aside .featured-image {
		min-height:150px;
	}
}
.aside .featured-label {
    top: -38px;
}
/* aside: tag list card */
.aside .tag-list {
	display: flex !important;
	flex-direction: column;
	justify-content: space-around;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aside .tag-list-header {
	display: flex;
  	flex-direction: column;
    position: relative;
    z-index: 50;
    text-align: center;
}
.aside .tag-list-header-topic {
	padding: 0.5rem;
}
.aside .tag-list-content { 
	height:100%;
	position: relative;
    z-index: 50;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.7rem;
}
.aside .tag-list-content li {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 200;
	letter-spacing: -.5px;
	/* box-shadow: #aaa 0 -1px 0 inset; */
}
.aside .tag-list-content a {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.aside .tag-list-content a:hover {
	border-bottom: 1px solid #fff;
}
.aside .tag-list-content a:hover > li {
	font-weight:600;
}
.aside .tag-list-footer {
	display: flex;
  	flex-direction: column;
    position: relative;
    margin: 15px 0 3px;
    text-align: center;
}
.aside .tag-list-footer a {
	color: #fff;
}
.aside .tag-list-footer a:hover > span {
	font-weight:600;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.aside .box {
	height:100%;
}

/* ====================== Tag Archive ====================== 2019.04.14 */
.card-wrap {
    margin-bottom: 30px;
}
.tag-card {
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(12, 12, 94, .1);
}
.tag-card.no-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.tag-card.no-image .tag-info {
    width: 100%}
.tag-card .tag-image {
	/* height: 144px; */
	height: calc(90px + 3vw);
    border-radius: 8px 8px 0 0;
    background-size: cover;
    background-position: center center;
}
.tag-card .tag-info {
	padding: 16px;
	vertical-align: middle;
}
.tag-card .tag-info .tag-name {
	margin-bottom: .5rem;
	font-size: 1.5rem;
	font-weight: 600;
}
.tag-card .tag-info .tag-name {
    text-transform: capitalize;
	color: #222;
	transition: all .25s;
}
.tag-card:hover .tag-info .tag-name {
    color: #fb3c3b;
}
.tag-card .tag-info .post-count {
	color: #222;
}

/* ====================== footer ====================== 2019.04.12 */
.declare a {
	color:#000;
	word-break: break-word;
	transition: all .25s;
    
}
.declare a:hover {
	/* color:#fb3c3b; */
	box-shadow: #fb3c3b 0 -1px 0 inset;
}